@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    background: radial-gradient(
      circle at 12% 3%,
      rgb(235, 232, 255) 0%,
      rgb(231, 226, 255) 100%
    );
    font-family: "Roboto", sans-serif !important;
    min-height: 100vh;
  }

  input {
    @apply shadow-sm appearance-none w-full text-gray-700 focus:outline-2
     focus:outline-offset-1 leading-tight focus:outline-none focus:outline-contrast border-gray-700 border-2 px-4 py-2 rounded-md border-opacity-25;
  }

  table {
    @apply border-collapse text-left mx-auto w-full;
  }

  thead {
    @apply text-xs uppercase border-b-2 border-contrast/20;
  }

  thead tr {
    @apply text-xs uppercase bg-primary-300;
  }

  tbody tr {
    @apply border-b-2 bg-primary border-contrast/20;
  }

  tr:nth-child(even) {
    @apply bg-primary-200;
  }

  th,
  td {
    @apply px-6 py-4;
  }

  .button {
    @apply bg-contrast border-contrast  text-white hover:bg-contrast-500 hover:border-contrast-500 border-2 transition-all py-3 px-5 
      whitespace-nowrap rounded-xl focus:outline-2 focus:outline-offset-1 focus:outline-none focus:outline-contrast;
  }

  .button:disabled {
    @apply bg-white border-contrast  text-white hover:bg-contrast-500 hover:border-contrast-500 border-2 transition-all py-3 px-5 
      whitespace-nowrap rounded-xl;
  }

  .button-outlined {
    @apply text-contrast border-contrast  hover:bg-contrast hover:text-white hover:border-contrast border-2 transition-all py-3 px-5 
      whitespace-nowrap rounded-xl;
  }

  .button-secondary {
    @apply text-white border-2 transition-all py-3 px-5 whitespace-nowrap rounded-xl focus:outline-2 
    focus:outline-offset-1 focus:outline-none focus:outline-primary-900 bg-primary-300 hover:bg-accent-300 hover:text-white border-gray-500 border-opacity-25;
  }

  .input-group {
    @apply flex flex-col mb-2;
  }

  .input-label {
    @apply flex-1 font-bold mb-2;
  }
}

.text-ds-white-sm {
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.4))
    drop-shadow(0 0 4px rgba(255, 255, 255, 0.6));
}
.text-ds-white-md {
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 14px rgba(255, 255, 255, 0.65));
}
.text-ds-white-lg {
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.55))
    drop-shadow(0 0 12px rgba(255, 255, 255, 0.65))
    drop-shadow(0 0 35px rgba(255, 255, 255, 0.7));
}
.text-ds-white-xl {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 35px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 50px rgba(255, 255, 255, 0.7));
}

.text-ds-primary-sm {
  filter: drop-shadow(0 0 1px rgba(238, 235, 255, 0.4))
    drop-shadow(0 0 4px rgba(238, 235, 255, 0.6));
}
.text-ds-primary-md {
  filter: drop-shadow(0 0 3px rgba(238, 235, 255, 0.5))
    drop-shadow(0 0 14px rgba(238, 235, 255, 0.65));
}
.text-ds-primary-lg {
  filter: drop-shadow(0 0 1px rgba(238, 235, 255, 0.55))
    drop-shadow(0 0 12px rgba(238, 235, 255, 0.65))
    drop-shadow(0 0 35px rgba(238, 235, 255, 0.7));
}
.text-ds-primary-xl {
  filter: drop-shadow(0 0 10px rgba(238, 235, 255, 0.7))
    drop-shadow(0 0 35px rgba(238, 235, 255, 0.7))
    drop-shadow(0 0 50px rgba(238, 235, 255, 0.7));
}

.text-ds-contrast-sm {
  filter: drop-shadow(0 0 1px rgba(1, 25, 54, 0.4))
    drop-shadow(0 0 4px rgba(1, 25, 54, 0.6));
}
.text-ds-contrast-md {
  filter: drop-shadow(0 0 3px rgba(1, 25, 54, 0.5))
    drop-shadow(0 0 14px rgba(1, 25, 54, 0.65));
}
.text-ds-contrast-lg {
  filter: drop-shadow(0 0 1px rgba(1, 25, 54, 0.55))
    drop-shadow(0 0 12px rgba(1, 25, 54, 0.65))
    drop-shadow(0 0 35px rgba(1, 25, 54, 0.7));
}
.text-ds-contrast-xl {
  filter: drop-shadow(0 0 10px rgba(1, 25, 54, 0.7))
    drop-shadow(0 0 35px rgba(1, 25, 54, 0.7))
    drop-shadow(0 0 50px rgba(1, 25, 54, 0.7));
}
