@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    background: radial-gradient(
      circle at 12% 3%,
      rgb(235, 232, 255) 0%,
      rgb(231, 226, 255) 100%
    );
    font-family: "Roboto", sans-serif !important;
    min-height: 100vh;
  }

  .button {
    @apply bg-contrast border-contrast  text-white hover:bg-contrast-500 hover:border-contrast-500 border-2 transition-all py-3 px-5 
      whitespace-nowrap rounded-xl;
  }

  .button:disabled {
    @apply bg-white border-contrast  text-white hover:bg-contrast-500 hover:border-contrast-500 border-2 transition-all py-3 px-5 
      whitespace-nowrap rounded-xl;
  }

  .button-outlined {
    @apply text-contrast border-contrast  hover:bg-contrast hover:text-white hover:border-contrast border-2 transition-all py-3 px-5 
      whitespace-nowrap rounded-xl;
  }

  .input-group {
    @apply flex flex-col mb-2;
  }

  .input-label {
    @apply flex-1 font-bold;
  }
  .input {
    @apply border-gray-700 border-2 px-4 py-2 rounded-md border-opacity-25 w-[100%];
  }
}

.text-ds-white-sm {
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.4))
    drop-shadow(0 0 4px rgba(255, 255, 255, 0.6));
}
.text-ds-white-md {
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 14px rgba(255, 255, 255, 0.65));
}
.text-ds-white-lg {
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.55))
    drop-shadow(0 0 12px rgba(255, 255, 255, 0.65))
    drop-shadow(0 0 35px rgba(255, 255, 255, 0.7));
}
.text-ds-white-xl {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 35px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 50px rgba(255, 255, 255, 0.7));
}

.text-ds-primary-sm {
  filter: drop-shadow(0 0 1px rgba(238, 235, 255, 0.4))
    drop-shadow(0 0 4px rgba(238, 235, 255, 0.6));
}
.text-ds-primary-md {
  filter: drop-shadow(0 0 3px rgba(238, 235, 255, 0.5))
    drop-shadow(0 0 14px rgba(238, 235, 255, 0.65));
}
.text-ds-primary-lg {
  filter: drop-shadow(0 0 1px rgba(238, 235, 255, 0.55))
    drop-shadow(0 0 12px rgba(238, 235, 255, 0.65))
    drop-shadow(0 0 35px rgba(238, 235, 255, 0.7));
}
.text-ds-primary-xl {
  filter: drop-shadow(0 0 10px rgba(238, 235, 255, 0.7))
    drop-shadow(0 0 35px rgba(238, 235, 255, 0.7))
    drop-shadow(0 0 50px rgba(238, 235, 255, 0.7));
}

.text-ds-contrast-sm {
  filter: drop-shadow(0 0 1px rgba(1, 25, 54, 0.4))
    drop-shadow(0 0 4px rgba(1, 25, 54, 0.6));
}
.text-ds-contrast-md {
  filter: drop-shadow(0 0 3px rgba(1, 25, 54, 0.5))
    drop-shadow(0 0 14px rgba(1, 25, 54, 0.65));
}
.text-ds-contrast-lg {
  filter: drop-shadow(0 0 1px rgba(1, 25, 54, 0.55))
    drop-shadow(0 0 12px rgba(1, 25, 54, 0.65))
    drop-shadow(0 0 35px rgba(1, 25, 54, 0.7));
}
.text-ds-contrast-xl {
  filter: drop-shadow(0 0 10px rgba(1, 25, 54, 0.7))
    drop-shadow(0 0 35px rgba(1, 25, 54, 0.7))
    drop-shadow(0 0 50px rgba(1, 25, 54, 0.7));
}
